body { font-size: 16px; }

/* ---- Header ---- */

.website-header {
  background-color: #e74c3c;
  display: flex;
  align-items: center;
  height: 6rem;
  color: white;
}

.brand h1 { font-size: 1.5rem; }
.logo { height: 1em; }
.tools { margin-top: 0.1rem; }
.tool-1 { text-align: right; }

.tool-1 a, .tool-2 a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: white;
  text-decoration: none;
  transition: border-bottom 0.25s;
}

.tool-1 a:hover, .tool-2 a:hover {
  border-bottom: 1px solid white;
}

/* ---- Main ---- */

.main {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.main h1 { font-size: 2.35rem; }
.main h3 { font-size: 1.5rem; }
.num-people-section, .name-section, .expense-section { margin-top: 2rem; }

/* ---- Num People Section ---- */

.num-people-error {
  color: red;
  margin-top: -0.5rem;
}

/* ---- Name Section ---- */

.name-group { margin-bottom: 0.5rem; }
.name-group:last-of-type { margin-bottom: 1rem; }
.empty-namebox { border: 2px solid transparent; }

.names-gte6, .empty-namebox {
  width: min(180px, 30%);
  margin-left: min(0.6rem, 1.66%);
  margin-right: min(0.6rem, 1.66%);
}

/* ---- Expense Section ---- */

.expense-section h3 { margin-bottom: 1rem; }

/*** amount box ***/
.amount-box {
  width: 202px;
  height: calc(1.5rem + 2px);
  display: inline-block;
  box-sizing: content-box;
  border: 1px solid black;
  padding: 0.5px 2px 1.5px 2px;
}

.amount-box label {
  margin: 0 1% 0 2%;
  cursor: text;
}

.amount-box input {
  height: 100%;
  border: 1px solid transparent;
}

.amount-box input:focus { outline: none; }

.submit-button {
  width: 1.6rem;
  padding-top: 0.5px;
  padding-bottom: 1.5px;
}

/*** description box ***/
.description-box { margin-bottom: 1rem; }

.description-box input {
  width: 208px;
  padding-left: 4px;
  margin-right: 1.6rem;
}

.description-box input::placeholder { opacity: 0.8; }

/*** payer panel ***/
.payer-panel { margin-bottom: 0.25rem; }

/*** payee panel ***/
.payees-lte4 { margin-bottom: 1rem; }

.payees-lte4 p {
  display: inline-block;
  margin-bottom: 0;
}

.payee-element-lte4:first-of-type { margin-left: 0.1rem; }

.payee-element-lte4 {
  display: inline-block;
  margin-right: 0.6rem
}

.payees-gt4 { margin-bottom: 1rem; }
.payees-gt4 p { margin-bottom: 0; }

.payee-element-gt4 {
  display: inline-block;
  margin: 0 0.4rem;
}

.empty-payee-space-lt10 { width: 35.406px }
.empty-payee-space-gt10 { width: 44.031px }
