body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* ---- Header ---- */

.website-header {
  background-color: #e74c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  color: white;
  width: 100vw;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand > a {
  color: white;
  text-decoration: none;
}

.brand > a > h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 0.25rem;
  margin-bottom: 0.1rem;
}

.logo {
  display: inline-block;
  height: 1.15rem;
  margin-right: 0.35rem;
  margin-top: -0.25rem;
}

/* ---- Main ---- */

.main {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.main h1 { font-size: 2.4rem; }
.main h3 { font-size: 1.5rem; }
.num-people-section , .name-section, .expense-section { margin-top: 2rem; }

/* ---- Num People Section ---- */

.num-people-section > p { margin-bottom: 0.9rem; }

.num-people-error {
  color: red;
  margin-top: 0.6rem;
  margin-bottom: 0;
}

.next-button {
  margin-top: 1.75rem;
  border: none;
  border-radius: 30%;
  background: #e74c3c;
  color: white;
  padding: 1px 0.5rem;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.next-button:hover { background: #d54839; }
.next-button:focus { outline: none; }

/* ---- Transitions ---- */
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* ---- Name Section ---- */
.name-section {
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}

.name-group { margin-bottom: 0.5rem; }
.name-group:last-of-type { margin-bottom: 1rem; }
.empty-namebox { border: 2px solid transparent; }

.names-gte6, .empty-namebox {
  width: min(180px, 30%);
  margin-left: min(0.6rem, 1.66%);
  margin-right: min(0.6rem, 1.66%);
}

/* ---- Expense Section ---- */
.expense-section {
  -webkit-animation: fadeIn 1.5s;
          animation: fadeIn 1.5s;
}

.expense-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expense-form > div {
  width: 500px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid #dfe1e5;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 0.3rem;
}

.expense-form-title { margin-bottom: 1rem; }

/*** amount box ***/
.amount-box {
  margin: 6% 7.5% 1.25rem 7.5%;
  border: 1px solid #767676;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: box-shadow 0.15s;
}

.amount-box > label {
  margin-left: 3%;
  padding-right: 1%;
  cursor: text;
}

.amount-box > input {
  width: 100%;
  margin-right: 2.5%;
  border-color: transparent;
}

.amount-box > input:focus { outline: none; }

.amount-box-error {
  border-color: red;
  box-shadow: 0 0 0 2px red;
}

/*** mode selector ***/
.mode-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.75rem;
}

.mode-selector > div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  border: 1.5px solid #e74c3c;
  padding: 0.2rem 0.25rem;
  border-radius: 2rem;
}

.activated-mode, .deactivated-mode {
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.5px 0.5rem 1px 0.5rem;
  border-radius: 3rem;
}

.activated-mode {
  border: 1px solid #e74c3c;
  background: #e74c3c;
  color: white;
}

.deactivated-mode {
  border: 1px solid transparent;
  background: none;
  color: black;
}

/*** section titles ***/
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title > div {
  position: relative;
  top: -0.9rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  background: white;
  padding: 0 0.25rem;
  color: #434345;
}

/*** payer selection ***/
.payer-payee-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 7.5%;
  margin-bottom: 6.5%;
}

.payer-selection {
  border: 1px solid #b2b4b7;
  border-radius: 0.3rem;
  width: 35%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0 2.5%;
}

.payer-frame {
  position: relative;
  top: -0.5rem;
  height: 7rem;
  margin-bottom: 0.3rem;
  overflow-y: auto;
}

.payer-frame-uneven {
  height: 4.5rem;
  top: -0.6rem;
  margin-bottom: 0.1rem;
}

.payer-frame::-webkit-scrollbar { width: 0.5rem; }
.payer-frame::-webkit-scrollbar-track { background: #f1f1f1; }
.payer-frame::-webkit-scrollbar-thumb { background-color: #888; }
.payer-frame::-webkit-scrollbar-thumb:hover { background: #6b6b6b; }

.payer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 100%;
  background: none;
  border-radius: 0.2rem;
  padding: 0.5px 3px;
}

.payer-item:disabled {
  background: #e74c3c;
  color: white;
}

.payer-item > p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/*** payee selection ***/
.payee-selection {
  border: 1px solid #b2b4b7;
  border-radius: 0.3rem;
  margin-left: 7%;
  width: 58%;
  height: min-content;
  padding: 0 2%;
  transition: box-shadow 0.15s;
}

.payee-selection-error {
  border-color: red;
  box-shadow: 0 0 0 2px red;
}

.payee-frame {
  position: relative;
  top: calc(-0.5rem - 0.425rem - 1px);  /* the second term accounts for the
                                           buttons' top margin, third term
                                           accounts for their border */
  height: calc(7rem + 0.3rem);
  margin-bottom: calc(0.3rem - 0.3rem);
  overflow-y: auto;
  text-align: left;
}

.payee-frame-uneven {
  height: calc(4.5rem + 0.3rem);
  top: calc(-0.6rem - 0.425rem - 1px);
  margin-bottom: calc(0.1rem - 0.3rem);
}

.payee-item-container {
  display: inline-block;
  border: 1px solid transparent;
  width: 30%;
  margin: 0.425rem 1.66%;
}

.payee-item-enabled, .payee-item-disabled {
  border: none;
  border-radius: 0.2rem;
  padding: 2.5px 2px;
  width: 100%;
}

.payee-item-enabled {
  background: linear-gradient(to bottom right, #f1948a, #e74c3c);
  color: white;
}

.payee-item-disabled { background: none; }

.payee-item-enabled > p, .payee-item-disabled > p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/*** submit button, error, others ***/
.expense-form > div { position: relative; }

.look-below, .hide-look-below {
  position: absolute;
  right: 3.5%;
  bottom: -4.95rem;
  font-size: 1.3rem;
  transition: 0.25s;
}

.look-below { color: black; }
.hide-look-below { color: transparent; }

.expense-form-error {
  margin-top: 1.1rem;
  margin-bottom: -1.7rem;
  color: red;
}

.submission-container {
  display: flex;
  justify-content: center;
}

.submission-container > div {
  width: 70vw;
  max-width: 400px;
}

.submit-button { margin-top: 2.95rem; }

.submit-button > button {
  border: none;
  background: #5d6d7e;
  color: white;
  border-radius: 2rem;
  padding: 0.35rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.5s;
}

.submit-button > .submit-succeed { background-color: #565aef; }

/*** expenses entered section ***/
.expenses-entered-title {
  margin-top: 2.3rem;
  margin-bottom: 0.95rem;
}

.expense-list {
  display: flex;
  justify-content: center;
}

.expense-list > div {
  width: 500px;
  padding: 0 2.25%;
}

.expense-list-item-container, .expense-list-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #5352ed, #70a1ff);
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  animation: fadeIn 0.7s;
}

.expense-list-item-container > p, .expense-list-placeholder > p {
  flex-grow: 1;
  margin-bottom: 0;
  color: white;
  font-size: 0.98rem;
}

.expense-list-item-container > p {
  margin-left: 0.85rem;
  margin-right: 0.1rem;
}

.expense-delete-button {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0.1rem;
  border: none;
  background: none;
  filter: invert(100);
  cursor: pointer;
}

/* --- Scrollbars --- */

.custom-scrollbar::-webkit-scrollbar { width: 0.5rem; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }

.payee-frame::-webkit-scrollbar-track,
.meal-item-payee-frame::-webkit-scrollbar-track { margin-top: 0.45rem; }

.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #888; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #6b6b6b; }

/* --- Uneven Splitting --- */

.uneven-container {
  height: min-content;
  display: flex;
  padding: 0 7.5%;
  margin-top: -1%;
  margin-bottom: 6%;
  animation: fadeIn 0.5s;
}

.uneven-amounts {
  border: 1px solid #b2b4b7;
  border-radius: 0.3rem;
  height: 7.75rem;
  width: 60%;
  padding: 0 3%;
  padding-bottom: 0.25rem;
}

.uneven-amounts-frame {
  position: relative;
  top: -0.5rem;
  height: 80%;
  overflow-y: auto;
  text-align: left;
}

.uneven-amounts-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding-right: 4%;
}

.uneven-amount-name {
  width: 35%;
  padding: 0 0.25rem;
  margin-right: 0.25rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uneven-amount-form {
  width: 65%;
  height: min-content;
  padding: 0.075rem 0;
  border: 1px solid #767676;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
}

.uneven-amount-form > label {
  margin-left: 5%;
  padding-right: 3%;
  cursor: text;
}

.uneven-amount-form > input {
  width: 100%;
  height: 1.5rem;
  margin-right: 2.5%;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.uneven-amount-form > input::placeholder { opacity: 0.75; }
.uneven-amount-form > input:focus { outline: none; }

.tabulation-boxes {
  width: 33%;
  height: 7.75rem;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uneven-total-box, .uneven-target-box, .uneven-left-box {
  border: 1px solid #b2b4b7;
  border-radius: 0.3rem;
  height: 27.5%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabulation-boxes > div > span {
  position: absolute;
  left: 4%;
  top: -0.5rem;
  font-size: 0.65rem;
  display: block;
  background: white;
}

.tabulation-boxes > div > div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.925rem;
  z-index: 2;
  margin: 0 0.3rem;
}

.uneven-left-box {
  border: 1.5px solid #07ab5f;
  color: #07ab5f;
  font-weight: 500;
  transition: 0.25s;
}

.left-box-positive {
  border-color: blue;
  color: blue;
}

.left-box-negative {
  border-color: red;
  color: red;
}

/* --- Meal Mode --- */

/*** meal item box ***/
.item-payer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 7.5%;
  margin-bottom: 6.5%;
}

.meal-item-section {
  width: 63%;
  height: 9rem;
  border: 1px solid #b2b4b7;
  border-radius: 0.3rem;
  margin-right: 7%;
  animation: fadeIn 0.5s;
}

.meal-item-title > div { border-radius: 0.25rem; }

.meal-item-content {
  position: relative;
  top: -0.35rem;
}

.meal-item-amount-box {
  height: 2rem;
  border: 1px solid black;
  display: flex;
  margin: 0 15%;
}

.meal-item-amount-box > label {
  
}

.meal-item-amount-box > input {
  width: 100%;
}

.meal-item-payee-frame {
  height: 4.7rem;
  margin: 0.3rem 6%;
  border-radius: 0.25rem;
  overflow-y: auto;
  text-align: left;
}

.meal-item-payee-container {
  display: inline-block;
  border: 1px solid transparent;
  width: 30%;
  margin: 0.425rem 1.66%;
}

.meal-item-payee-enabled, .meal-item-payee-disabled {
  border: none;
  border-radius: 0.2rem;
  padding: 2.5px 2px;
  width: 100%;
}

.meal-item-payee-enabled {
  background: linear-gradient(to bottom right, #f1948a, #e74c3c);
  color: white;
}

.meal-item-payee-disabled {
  background: none;
}

.meal-item-payee-enabled > p, .meal-item-payee-disabled > p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/*** payer selection ***/
.item-payer-section .payer-selection {
  width: 30%;
  height: 9rem;
}

.item-payer-section .payer-frame { height: 7.1rem; }














/*** description box ***/
.description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.75rem;
}

.description-box input {
  width: 208px;
  padding-left: 4px;
  margin-left: 5px;
}

.description-box input::-webkit-input-placeholder { opacity: 0.8; }
.description-box input::-moz-placeholder { opacity: 0.8; }
.description-box input:-ms-input-placeholder { opacity: 0.8; }
.description-box input::-ms-input-placeholder { opacity: 0.8; }
.description-box input::placeholder { opacity: 0.8; }

/*** expense form error message ***/
/* .expense-form-error {
  color: red;
  margin: -0.25rem 0 0.65rem 0.25rem;
} */

/*** uneven splitting ***/
/* .uneven-button, .uneven-button-enabled {
  width: 30.656px;
  border-color: #767676 #212121 #212121 #767676;
  border-radius: 0 0.1rem 0.1rem 0;
  -webkit-transition: background 0.15s, color 0.15s;
  -o-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.uneven-button { opacity: 0.85; }
.uneven-button-enabled { opacity: 0.9; }

.uneven-tooltip:hover .uneven-button, .uneven-button-enabled {
  background: #e74c3c;
  color: white;
}

.uneven-button-enabled:hover { background-color: #de4839; } */

/*** uneven splitting - tooltip ***/
.uneven-tooltip {
  position: relative;
  display: inline-block;
}

.uneven-tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-top: 0.08rem;

  /* position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -2.5px;
  left: 125%;

  /* fade in */
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

/* tooltip arrow */
.uneven-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* show the tooltip text when you mouse over the tooltip container */
.uneven-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*** payer panel ***/
.payer-panel {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0.6rem;
}

.payer-panel p { margin-bottom: 0.15rem; }

.payer-panel button {
  border: 3px solid transparent;
  border-radius: 0.25rem;
  padding: 0 4.5px 1px 4.5px;
  background: none;
  -webkit-transition-duration: 0.05s;
       -o-transition-duration: 0.05s;
          transition-duration: 0.05s;
}

.payer-panel button:hover {
  border: 3px solid rgba(231, 76, 60, 0.25);
  background: none;
}

.payer-panel button:disabled {
  border-width: 3px;
  border-color: rgba(231, 76, 60, 0.95) rgba(219, 68, 53, 0.95)
    rgba(219, 68, 53, 0.95) rgba(231, 76, 60, 0.95);
  color: inherit;
}

/*** payee panel ***/
.payees-lte4 p, .payees-gt4 p { margin-bottom: 0.1rem; }
.payee-row { margin-top: 0.1rem; }

.payee-checkbox {
  -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
          filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
}

.payee-element-lte4:first-of-type { margin-left: 0.1rem; }
.payee-element-lte4, .payee-element-gt4 { display: inline-block; }
.payee-element-lte4 { margin-right: 0.6rem; }
.payee-element-gt4 { margin: 0 0.4rem; }
.empty-payee-space-lt10 { width: 35.41px }
.empty-payee-space-gt10 { width: 44.03px }

/*** uneven console ***/
/* .uneven-console {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uneven-transition {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.uneven-console > div {
  width: 425px;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  border: 1px solid #dfe1e5;
  border-radius: 0.5rem;
}

.uneven-console-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uneven-console-title > p {
  position: relative;
  top: -0.975rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  padding: 0 0.5rem;
  font-size: 0.98rem;
  background-color: white;
}

.uneven-console-content {
  position: relative;
  top: -0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
} */

/*** uneven nameboxes ***/
.uneven-nameboxes {
  margin-left: 5%;
  width: 55%;
  margin-top: -0.3rem;
  margin-bottom: 0.2rem;
}

.uneven-namebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.35rem 0;
}

.uneven-namebox:first-of-type { margin-top: 0; }
.uneven-namebox-hidden .uneven-namebox-name { opacity: 0.45 }
.uneven-namebox-hidden .uneven-namebox-amount { opacity: 0.45 }

.uneven-namebox-name {
  width: 30%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.uneven-namebox-amount {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #1b1212;
  border-radius: 1.5px;
  margin: 0 2.5%;
  padding: 1px 1px 1px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uneven-namebox-amount > label { cursor: text; }

.uneven-namebox-amount > input {
  height: 100%;
  width: 90%;
  border: none;
  margin-left: 2px;
}

.uneven-namebox-amount > input:focus { outline: none; }

.uneven-namebox-checkbox {
  -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
          filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
}

/*** uneven totals ***/
.uneven-totals {
  margin-left: 10%;
  width: 25%;
  font-size: 0.9rem;
}

.uneven-totals > div {
  border: 1px solid #dfe1e5;
  border-radius: 0.25rem;
  margin-bottom: 1.2rem;
}

.uneven-totals-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uneven-totals-title > p {
  position: relative;
  top: -0.75rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 0.25rem;
  background: white;
  margin-bottom: 0;
}

.uneven-totals-figure, .uneven-left-positive, .uneven-left-negative {
  position: relative;
  top: -0.55rem;
  margin-bottom: 0;
  padding: 0 0.5rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.uneven-left-positive, .uneven-left-negative { font-weight: 500; }

.uneven-left-positive { color: blue; }
.uneven-left-negative { color: red; }
.uneven-totals > div:last-of-type { margin-bottom: 0.8rem; }

/*** calculation section ***/
.expenses-entered-section, .payment-amount-section { padding: 0 2rem; border: 1px solid black; }

.expenses-entered-section > div,
.payment-amount-section > div {
  border: 1px solid black;
  padding: 0 1rem;
}

.expense-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.55rem 0 0.8rem 0;
}

.delete-button, .expand-button {
  border-color: #767676 #212121 #212121 #767676;
  border-radius: 0.1rem;
}

.delete-button {
  padding: 1px;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}

/* .expand-button {
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1px 3px 1px;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
} */

.delete-button:hover, .expand-button:hover { background: #dcdcdc; }

.delete-button img {
  display: block;
  width: 1rem;
}

.payment-item { margin: 0.55rem 0 0.6rem 0; }
.filler { margin-bottom: 16px; }

/* ---- Queries ---- */

@media only screen and (max-width: 767px) {
  .payer-frame-uneven { height: 4.25rem; }
  .payee-frame-uneven { height: calc(4.25rem + 0.3rem); }

  .payee-item-container {
    width: 45%;
    margin: 0.425rem 2.5%;
  }

  .submit-button > button:hover { box-shadow: 0 0 0px 0px #212121; }
}

@media only screen and (max-width: 575px) {
  .section-title > div { font-size: 0.95rem; }
  .uneven-container { margin-top: 8.5%; }
  /* .uneven-amounts { height: 6.75rem; } */
  /* .uneven-amounts-frame { top: -0.6rem; } */
  .uneven-amount-name { width: 40%; }
  .uneven-amount-form { width: 60%; }
  /* .tabulation-boxes { height: 6.75rem; } */
  .tabulation-boxes > div > div { font-size: 0.9rem; }
}
