body { font-size: 16px; }

/* ---- Header ---- */

.website-header {
  background-color: #e74c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  color: white;
}

.brand h1 { font-size: 1.5rem; }
.logo { height: 1em; }
.tools { margin-top: 0.1rem; }
.tool-1 { text-align: right; }

.tool-1 a, .tool-2 a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: white;
  text-decoration: none;
  -webkit-transition: border-bottom 0.25s;
  -o-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s;
}

.tool-1 a:hover, .tool-2 a:hover {
  border-bottom: 1px solid white;
}

/* ---- Main ---- */

.main {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.main h1 { font-size: 2.35rem; }
.main h3 { font-size: 1.5rem; }
.num-people-section, .name-section, .expense-section { margin-top: 2rem; }

/* ---- Num People Section ---- */

.num-people-error {
  color: red;
  margin-top: -0.5rem;
}

.num-people-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.num-people-section button {
  border-color: #767676 #212121 #212121 #767676;
  font-size: 0.95rem;
  -webkit-transition: background 0.1s, color 0.1s;
  -o-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.num-people-section button:hover, .num-people-section button:focus {
  background: #e74c3c;
  color: white;
  opacity: 0.9;
}

.num-people-section button:focus { outline: none; }

/* ---- Name Section ---- */

.name-section button {
  border-color: #767676 #212121 #212121 #767676;
  font-size: 0.98rem;
  border-radius: 0.1rem;
  -webkit-transition: background 0.1s, color 0.1s;
  -o-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.name-section button:hover {
  background: #e74c3c;
  color: white;
  opacity: 0.9;
}

.name-group { margin-bottom: 0.5rem; }
.name-group:last-of-type { margin-bottom: 1rem; }
.empty-namebox { border: 2px solid transparent; }

.names-gte6, .empty-namebox {
  width: min(180px, 30%);
  margin-left: min(0.6rem, 1.66%);
  margin-right: min(0.6rem, 1.66%);
}

/* ---- Expense Section ---- */

.expense-section h3 { margin-bottom: 1rem; }
.expense-form { margin-bottom: 1.75rem; }

/*** amount box ***/
.amount-box {
  display: flex;
  justify-content: center;
  width: 202px;
  height: calc(1.5rem + 2px);
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid black;
  padding: 0.5px 2px 1.5px 2px;
}

.amount-box label {
  margin: 0 1% 0 2%;
  cursor: text;
}

.amount-box input {
  height: 100%;
  width: 92%;
  border: 1px solid transparent;
}

.amount-box input:focus { outline: none; }

.submit-button {
  width: 1.6rem;
  border-color: #767676 #212121 #212121 #767676;
  padding-top: 0.5px;
  padding-bottom: 1.5px;
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-transition: background 0.1s, color 0.1s;
  -o-transition: background 0.1s, color 0.1s;
  transition: background 0.1s, color 0.1s;
}

.submit-button:hover, .submit-button:focus {
  background: #e74c3c;
  color: white;
  opacity: 0.9;
}

.submit-button:focus { outline: none; }

/*** description box ***/
.description-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.description-box input {
  width: 208px;
  padding-left: 4px;
  margin-left: 5px;
}

.description-box input::-webkit-input-placeholder { opacity: 0.8; }
.description-box input::-moz-placeholder { opacity: 0.8; }
.description-box input:-ms-input-placeholder { opacity: 0.8; }
.description-box input::-ms-input-placeholder { opacity: 0.8; }
.description-box input::placeholder { opacity: 0.8; }

/*** uneven splitting ***/
.uneven-tooltip button {
  width: 30.656px;
  border-color: #767676 #212121 #212121 #767676;
  border-radius: 0 0.1rem 0.1rem 0;
  -webkit-transition: background 0.15s, color 0.15s;
  -o-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
}

.uneven-button { opacity: 0.85; }

.uneven-tooltip:hover button, .uneven-button:focus {
  background: #e74c3c;
  color: white;
}

.uneven-button:focus { outline: none; }

/*** uneven splitting - tooltip ***/
.uneven-tooltip {
  position: relative;
  display: inline-block;
}

.uneven-tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-top: 0.08rem;

  /* position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -2.5px;
  left: 125%;

  /* fade in */
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

/* tooltip arrow */
.uneven-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -4%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* show the tooltip text when you mouse over the tooltip container */
.uneven-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*** payer panel ***/
.payer-panel { margin-bottom: 0.5rem; }

.payer-panel button {
  border: 3px solid transparent;
  border-radius: 0.25rem;
  padding: 0 4.5px 1px 4.5px;
  background: none;
  -webkit-transition-duration: 0.05s;
       -o-transition-duration: 0.05s;
          transition-duration: 0.05s;
}

.payer-panel button:hover {
  border: 3px solid rgba(231, 76, 60, 0.25);
  background: none;
}

.payer-panel button:disabled {
  border-width: 3px;
  border-color: rgba(231, 76, 60, 0.95) rgba(219, 68, 53, 0.95)
    rgba(219, 68, 53, 0.95) rgba(231, 76, 60, 0.95);
  color: inherit;
}

/*** payee panel ***/
.payees-lte4 p, .payees-gt4 p { margin-bottom: 0; }
.payees-lte4 p { display: inline; }

.payee-checkbox {
  -webkit-filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
          filter: grayscale(100%) sepia(100%) hue-rotate(318deg) saturate(2.8) brightness(1.1);
}

.payee-element-lte4:first-of-type { margin-left: 0.1rem; }
.payee-element-lte4, .payee-element-gt4 { display: inline-block; }
.payee-element-lte4 { margin-right: 0.6rem; }
.payee-element-gt4 { margin: 0 0.4rem; }
.empty-payee-space-lt10 { width: 35.41px }
.empty-payee-space-gt10 { width: 44.03px }

/*** calculation section ***/
.expenses-entered-section, .payment-amount-section { padding: 0 2rem; }

.expenses-entered-section > div,
.payment-amount-section > div {
  border: 1px solid black;
  padding: 0 1rem;
}

.expense-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.55rem 0 0.8rem 0;
}

.delete-button {
  border-color: #767676 #212121 #212121 #767676;
  padding: 1px;
  margin-left: 0.35rem;
  margin-top: 0.1rem;
  border-radius: 0.1rem;
}

.delete-button:hover { background: #dcdcdc; }

.delete-button img {
  display: block;
  width: 1rem;
}

.payment-item { margin: 0.55rem 0 0.6rem 0; }
.filler { margin-bottom: 16px; }

/* ---- Queries ---- */

@media only screen and (max-width: 991px) {
  .expense-form { margin-bottom: 1.25rem; }
  .expenses-entered-section { margin-bottom: 1.2rem; }
  .expenses-entered-section, .payment-amount-section { padding: 0 0.75rem; }
}
